packages/ghost/models/*.onnx filter=lfs diff=lfs merge=lfs -text
packages/ghost/models/*.pt filter=lfs diff=lfs merge=lfs -text
packages/ghost/models/*.pth filter=lfs diff=lfs merge=lfs -text
packages/ghost/models/*.bin filter=lfs diff=lfs merge=lfs -text
packages/ghost/models/*.onnx.data filter=lfs diff=lfs merge=lfs -text
